.profilePageBox {
    width: auto;
    height: 71vh;
    background-color: #CAF0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothAppearing 1.5s forwards;
}

@keyframes smoothAppearing {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.profileBlock {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.userFullName {
    padding: 10px 20px 12px 20px;
    border-radius: 5px;
    background-color: #64b5f6;
}

.authStatus {
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
    color: green;
}
